  @media all and (max-width: 320px) {
    html { font-size: 11px; } 
    :root { font-size: 11px;}
  }
  @media all and (min-width: 320px) and (max-width: 380px){
    html { font-size: 11.5px; }
    :root { font-size: 11.5px;} 
  }
  @media all and (min-width: 380px) and (max-width: 415px){
    html { font-size: 12.5px; }
    :root { font-size: 12.5px;} 
  }
  @media all and (min-width: 415px) and (max-width: 768px){
    html { font-size: 13px; }
    :root { font-size: 13px;} 
  }
  @media all and (min-width: 768px) and (max-width: 1024px) {
    html { font-size: 14px; }
    :root { font-size: 14px;} 
  }
  body {
    width: 100%;
    user-select: none;
    overflow-x: hidden;
    height: 100%;
    min-height: 180px;
    overflow-y: auto;
  }
  body::-webkit-scrollbar {
    width: 10px;
  }
  body::-webkit-scrollbar-thumb {
      background-color: lightgrey;
      border-radius: 10px;
      background-clip: padding-box;
      border: 2px solid transparent;
  }
  .container {
    display: flex;
    position: relative;
    align-items: center;
    width: 100%;
    max-width: 48rem;
    min-height: calc(90vh - 1rem);
    /* max-height: calc(100vh - 37px - 0.5rem); */
    flex-direction: column;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
  }
  .container > div {
    width: 100%;
    height: 50px;
  }
  .container > div.title {
    font-weight:700;
    font-size: 2.5rem;
    margin-top: 5vh !important;
    font-family: 'DNFForgedBlade', sans-serif;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: max-content;
  }
  /* .container > div.title:hover {
    background: linear-gradient(to left bottom,#000000,#f9c41bc9,#f9c41bc9,#000000);
    color: transparent;
    -webkit-background-clip: text;
  } */
  .container > .row {
    margin:0.5rem 0;
    justify-content: center;
  }
  #searchBar {
    display: none;
  }
  #searchBar.show {
    display: flex;
  }
  .row > #serverId {
    max-width: 8rem;
    width: calc(25% - 0.3rem) !important;
    margin-right: 0.3rem;
  }
  .row > #characterName {
    max-width: 16rem;
    width: calc(60% - 0.3rem) !important;
    margin-right: 0.3rem;
  }
  .row > #btn_search {
    max-width: 4rem !important;
    width: 15%;
  }
  .row > .resultData {
    display: flex;
    justify-content: space-between;
  }
  .row.resultData.show > .row.result {
    height: auto !important;
    width: max-content;
    /* margin-top: 0.5rem; */
  }
  #btn_epicList {
    margin:0.5rem 0.2rem !important;
  }
  .resultData{
    display: none;
  }
  .row.resultData.show {
    display: flex;
    flex-direction: row;
    height: auto !important;
  }
  #characterList {
    width: max-content !important;
  }
  .characterView{
    min-width: 14rem;
    /* width: calc(20% - 0.4rem); */
    margin: 0.2rem;
  }
  #mistList{
    height: max-content;
    margin: 0.3rem;
    min-width: calc(15rem + var(--bs-gutter-x));
  }
  #loadingScreen {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #f3f4f7a6;
    border-radius: 12px;
    z-index: 2000;
    display: none;
  }
  #loadingScreen.active {
    display: block;
  }
  #loadingScreen.active > .center {
    width: 200px;
    height: 200px;
    position: absolute;
    top: calc(50% - 100px);
    left: calc(50% - 100px);
    text-align: center;
  }
  #loadingScreen.active > .center > img {
    margin-top: 10px;
  }
  /* .offcanvas.show {
    width: 30rem !important;
    min-width: 50vw;
  }
  .offcanvas-body::-webkit-scrollbar {
    width: 15px;
  }
  .offcanvas-body::-webkit-scrollbar-thumb {
      background-color: lightgrey;
      border-radius: 5px;
      background-clip: padding-box;
      border: 1px solid transparent;
  } */
  .modal-body {
    max-height: 60vh;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
  }
  .modal-body::-webkit-scrollbar {
    width: 10px;
  }
  .modal-body::-webkit-scrollbar-thumb {
    background-color: lightgrey;
    border-radius: 5px;
    background-clip: padding-box;
    border: 1px solid transparent;
  }
  .modal-list {
    margin-bottom: 1rem;
  }
  .aggregate {
    width: 100% !important;
    height: auto !important;
  }
  .aggregate .text-muted {
    float: right;
  }
  .aggregate > .card:nth-child(1) {
    width: 20rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
  }
  .aggregate > .card:nth-child(2) {
    width: 24rem;
  }
  div.infoArea {
    display: flex;
    justify-content: flex-end;
    height: max-content !important;
  }
  .infoArea ol.breadcrumb {
    font-family: 'DNFBitBitv2', sans-serif;
    font-weight: 400;
    margin-bottom: 0.2rem !important;
  }
  .infoArea .breadcrumb-item > a{
    text-decoration: none !important;
    color: black;
    cursor: pointer;
  }
  a:hover{
    color: #62abfa !important;
  }
  span.card-text {
    display: block;
  }
  #mistList.card {
    height: min-content;
    padding: 0;
  }
  #mistList.card > .card-header {
    background-color: #fff3cd5c;
    font-family: 'DNFBitBitv2';
  }
  #mistList.card img{
    margin-right: 0.5rem;
  }
  #mistList.card li {
    display: flex;
    align-items: center;
  }
  #rankingCard {
    height: min-content;
    margin: 0.3rem;
    padding: 0;
    min-width: calc(15rem + var(--bs-gutter-x));
  }
  #rankingCard > div {
    font-family: 'DNFBitBitv2';
    align-items: center;
    display: flex;
    justify-content: center;
  }
  #rankingCard li {
    align-items: center;
    display: flex;
    justify-content: center;
  }
  .list-group-item > span {
    color:black !important;
    margin-left: 0.3rem;
  }
  .card {
    box-shadow: 1px 1px 5px 0px rgba(17, 17, 17, 0.2);
  }
  #cName {
    font-weight: bold;
    font-size: 1.2rem;
    text-align: center;
  }
  #aName {
    color: #9feda0;
    font-weight: bold;
    font-size: 0.9rem;
    text-align: center;
    cursor: pointer;
  }
  #aName:hover {
    text-decoration: underline;
  }
  .resultData.show > div {
    max-height: 40.5rem;
    overflow-y: auto;
    overflow-x: none;
  }
  .resultData.show > div::-webkit-scrollbar {
    width: 0px;
  }
  .resultData.show > div::-webkit-scrollbar-thumb {
    display:none;
  }
  .dfToast{
    width: max-content !important;
    height: auto !important;
    position: absolute;
    top: 1rem;
  }
  #advenTotal {
    cursor: pointer;
  }