  @media all and (max-width: 320px) {
    html {
      font-size: 11px;
    }

    :root {
      font-size: 11px;
    }
  }

  @media all and (min-width: 320px) and (max-width: 380px) {
    html {
      font-size: 11.5px;
    }

    :root {
      font-size: 11.5px;
    }
  }

  @media all and (min-width: 380px) and (max-width: 415px) {
    html {
      font-size: 12.5px;
    }

    :root {
      font-size: 12.5px;
    }
  }

  @media all and (min-width: 415px) and (max-width: 768px) {
    html {
      font-size: 13px;
    }

    :root {
      font-size: 13px;
    }
  }

  @media all and (min-width: 768px) and (max-width: 1024px) {
    html {
      font-size: 14px;
    }

    :root {
      font-size: 14px;
    }
  }

  /* grid thema 
  @media (min-width: 1300px){
    body {
      display: grid;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      justify-items: center;
      grid-template-columns: 250px minmax(800px,calc(100% - 500px)) 250px;
      grid-template-rows: auto auto auto;
      grid-template-areas: "adAreaL container adAreaR" "neopleThk neopleThk neopleThk" "privacy privacy privacy";
    }
    .adAreaL {
      width: 100%;
      display: block !important;
      grid-area: adAreaL;
    }
    .adAreaR {
      width: 100%;
      display: block !important;
      grid-area: adAreaR;
    }
    .neopleThk{
      padding-top: 0.5rem;
      grid-area: neopleThk;
    }
    .privacy {
      grid-area: privacy;
    }
  }
  @media (min-width: 1840px){
    body {
      grid-template-columns: 400px calc(100% - 800px) 400px !important;
    }
  }
  .adAreaL {
    display: none;
  }
  .adAreaR {
    display: none;
  }
  */
  .container {
    display: flex;
    position: relative;
    align-items: center;
    width: 100%;
    max-width: 58.6rem;
    min-height: calc(90vh - 1rem);
    /* max-height: calc(100vh - 37px - 0.5rem); */
    flex-direction: column;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
  }

  .container>div {
    width: 100%;
    height: 50px;
  }

  .container>div.title {
    font-weight: 700;
    font-size: 2.5rem;
    margin-top: 2.5vh !important;
    font-family: 'DNFForgedBlade', sans-serif;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: max-content;
  }

  /* .container > div.title:hover {
    background: linear-gradient(to left bottom,#000000,#f9c41bc9,#f9c41bc9,#000000);
    color: transparent;
    -webkit-background-clip: text;
  } */
  .container>.row {
    margin: 0.5rem 0;
    justify-content: center;
  }

  #searchBar {
    display: none;
  }

  #searchBar.show {
    display: flex;
  }

  .row>#serverId {
    max-width: 8rem;
    width: calc(25% - 0.3rem) !important;
    margin-right: 0.3rem;
  }

  .row>#characterName {
    max-width: 16rem;
    width: calc(60% - 0.3rem) !important;
    margin-right: 0.3rem;
  }

  .row>#btn_search {
    max-width: 4rem !important;
    width: 15%;
  }

  .row>.resultData {
    display: flex;
    justify-content: space-between;
  }

  .row.resultData.show>.row.result {
    height: auto !important;
    width: max-content;
    /* margin-top: 0.5rem; */
  }

  #btn_epicList {
    margin: 0.5rem 0 !important;
  }

  .resultData {
    display: none;
  }

  .row.resultData.show {
    display: flex;
    flex-direction: row;
    height: auto !important;
  }

  #characterList {
    width: max-content !important;
  }

  .characterView {
    min-width: 14rem;
    /* width: calc(20% - 0.4rem); */
    margin: 0.2rem;
  }

  #mistList {
    height: max-content;
    margin: 0.3rem;
    max-width: 39.6rem;
    min-width: calc(15rem + var(--bs-gutter-x));
  }

  #mistList>ul {
    width: fit-content;
    max-height: 40vh;
    overflow-y: auto;
    overflow-x: hidden;
    max-width: 40rem;
    min-width: 100%;
  }

  /* .offcanvas.show {
    width: 30rem !important;
    min-width: 50vw;
  }
  .offcanvas-body::-webkit-scrollbar {
    width: 15px;
  }
  .offcanvas-body::-webkit-scrollbar-thumb {
      background-color: lightgrey;
      border-radius: 5px;
      background-clip: padding-box;
      border: 1px solid transparent;
  } */
  .modal-body {
    max-height: 60vh;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
  }

  .modal-body::-webkit-scrollbar {
    width: 10px;
  }

  .modal-body::-webkit-scrollbar-thumb {
    background-color: lightgrey;
    border-radius: 5px;
    background-clip: padding-box;
    border: 1px solid transparent;
  }

  .modal-list {
    margin-bottom: 1rem;
  }

  .aggregate {
    width: 100% !important;
    height: auto !important;
  }

  .aggregate .text-muted {
    float: right;
  }

  .aggregate>.card:nth-child(1) {
    width: 20rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
  }

  .aggregate>.card:nth-child(2) {
    width: 24rem;
  }

  a:hover {
    color: #62abfa !important;
  }

  span.card-text {
    display: block;
  }

  #mistList.card {
    height: min-content;
    padding: 0;
    width: auto;
  }

  #mistList.card>.card-header {
    background-color: #fff3cd5c;
    font-family: 'DNFBitBitv2';
  }

  #mistList.card>.card-header.legacy {
    /* background: linear-gradient(to right, #5aff62d8, #3f70d7); */
    background: linear-gradient(to right, #5aff62d8, rgb(51, 172, 234));
  }

  #mistList.card>.card-header.begin {
    background-color: #4eef565c;
  }

  #mistList.card img {
    margin-right: 0.5rem;
  }

  #mistList.card li {
    display: flex;
    align-items: center;
    padding: 0.3rem 0.5rem;
    width: max-content;
    min-width: 100%;
  }

  #rankingCard {
    height: min-content;
    margin: 0.3rem;
    padding: 0;
    min-width: calc(15rem + var(--bs-gutter-x));
  }

  #rankingCard>div {
    font-family: 'DNFBitBitv2';
    align-items: center;
    display: flex;
    justify-content: center;
  }

  #rankingCard li {
    align-items: center;
    display: flex;
    justify-content: center;
  }

  #mistList .list-group-item>p {
    margin: 0 !important;
    align-items: center;
    display: flex;
  }

  #mistList .list-group-item>dd {
    margin: 0 0.5rem 0 0 !important;
    width: 1.5rem;
    font-size: 0.75rem;
    text-align: center !important;
  }

  .list-group-item>span {
    color: black !important;
    margin-left: 0.3rem;
  }

  .card {
    box-shadow: 1px 1px 5px 0px rgba(17, 17, 17, 0.2);
  }

  #cName {
    font-weight: bold;
    font-size: 1.2rem;
    text-align: center;
  }

  #aName {
    color: #9feda0;
    font-weight: bold;
    font-size: 0.9rem;
    text-align: center;
    cursor: pointer;
  }

  #aName:hover {
    text-decoration: underline;
  }

  .resultData.show>div {
    /* max-height: 40.5rem; */
    overflow-y: auto;
    overflow-x: hidden;
  }

  .resultData.show>div::-webkit-scrollbar {
    width: 0px;
  }

  .resultData.show>div::-webkit-scrollbar-thumb {
    display: none;
  }

  #advenTotal {
    cursor: pointer;
  }

  #notice {
    height: auto;
    display: none;
    padding: 0.5rem;
    margin: 0.3rem;
  }

  #notice.show {
    max-width: 28.6rem;
    display: block;
  }

  #notice>p {
    font-size: 0.85rem;
    margin: 2px;
  }

  #loadingScreen.active>.center {
    width: 50rem;
    max-width: 100%;
    height: 100vh;
    margin: 0 auto;
    text-align: center;
    align-items: center;
  }

  .neopleThk>div.footer-main {
    max-width: 60rem !important;
  }

  .rank {
    font-size: 0.85rem;
  }

  .r_legnd {
    color: #FF7800;
  }

  .r_epic {
    color: #FFB400;
  }

  .r_begin {
    color: #6fc2ac
  }
  span.r_legnd {
    font-weight: 600;
  }
  
  span.r_epic {
    font-weight: 600;
  }

  div.set_rair > span {
    color: #B36BFF;
  }

  div.set_uniq > span {
    color: #FF00FF;
  }

  div.set_legnd > span {
    color: #FF7800;
  }
  div.set_epic > span {
    color: #FFB400;
  }
  div.set_begin > span {
    -webkit-text-fill-color: transparent;
    background: linear-gradient(to top, rgb(40, 217, 49), rgb(51, 172, 234)) text;
  }
  #setInfo {
    font-family: 'DNFBitBitv2';
    margin: 0.3rem 0;
    font-weight: 500;
  }
  .setPt {
    margin-left: 0.2rem;
    font-size: 0.7em;
  }

  #equipList {
    display: none;
    align-items: center;
    justify-content: center;
  }

  #equipList.show {
    display: flex !important;
    flex-direction: column;
  }

  #equipment {
    width: 164px;
    height: 142px;
    display: flex;
    background-image: url(https://bbscdn.df.nexon.com/data7/showroom/static/img/bg3.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    padding: 0.5rem;
    justify-content: space-between;
    border-radius: 0.5rem;
  }

  #equipment>.l1 {
    width: 60px;
    position: relative;
  }

  #equipment>.l2 {
    width: 60px;
  }

  #equipment>.l2>.rightEquip {
    position: relative;
    margin-top: 4px;
  }

  #equipment>div img {
    width: 28px;
    height: 28px;
    background-color: black;
  }

  #equipment>div img[src=""] {
    background-color: black;
  }

  img.p0_1 {
    position: absolute;
    left: 32px;
  }

  img.p1_0 {
    position: absolute;
    top: 32px;
    left: 0;
  }

  img.p1_1 {
    position: absolute;
    top: 32px;
    left: 32px;
  }

  img.p2_0 {
    position: absolute;
    top: 64px;
    left: 0;
  }

  img.p2_1 {
    position: absolute;
    top: 64px;
    left: 32px;
  }

  #setList {
    margin: 0.3rem;
    padding: 0;
  }

  #setList .list-group-item>div {
    margin-top: 0.3rem;
    margin-right: 0.3rem;
    position: relative;
  }

  #setList .list-group-item>div:last-child {
    margin-right: 0 !important;
  }
  #setList button.accordion-button {
    font-family: 'DNFBitBitv2';
  }

  #setItem>.card-header {
    padding: 0.2rem 0.4rem 0 0.4rem;
  }

  #setItem>.list-group.list-group-flush {
    padding: 0.3rem;
    border-bottom: 1px solid #d2d2d2;
    width: fit-content;
    overflow-y: auto;
    overflow-x: hidden;
    max-width: 40rem;
    min-width: 100%;
  }

  #setItem>.list-group.list-group-flush:last-child {
    border: 0;
  }

  #setItem li.list-group-item {
    display: flex;
    flex-wrap: wrap;
    width: max-content;
    min-width: 100%;
    max-width: 25.5rem;
    padding: 0.5rem;
    padding-top:0;
    border-bottom-width: 0 !important;
  }
  #setItem li.list-group-item.armory {
    padding-bottom: 0.1rem;
    border-top-width: 1px;
  }
  #setItem li.list-group-item.armory > div {
    background-color: #838181 !important;
  }
  

  .itemCount {
    position: absolute;
    right: 15%;
    bottom: 0;
    background-color: rgb(0 0 0 / 50%);
    color: white;
    z-index: 99;
    border-radius: 100%;
    font-size: 0.725em;
    /* height: 1.4em;
    transform: translateY(-0.16em); */
  }

  .btn-hide {
    display: flex;
    justify-content: flex-end;
  }

  #openHide {
    color: rgba(33, 37, 41, 0.75);
    font-size: 0.8rem;
  }
  [data-bs-theme=dark] #openHide {
    color: var(--bs-card-color);
  }

  #openHide:hover {
    cursor: pointer;
    text-decoration: underline;
    text-underline-offset: 0.25rem;
  }

  #emptySlot {
    font-size: 1.3rem;
    align-self: center;
  }

  .emptyItems {
    display: flex;
    justify-content: center;
  }

  #btn_chracterHide {
    width: 9rem;
  }

  .potList {
    display: flex;
    cursor: pointer;
    background-color: #ffe5cd5c !important;
  }

  ul.pots {
    display: none;
  }

  ul.pots.show {
    display: block;
  }

  .potList::after {
    flex-shrink: 0;
    width: 1.25rem;
    height: 1.25rem;
    margin-left: auto;
    content: "";
    background-image: url(data:image/svg+xml;charset=utf-8;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHZpZXdCb3g9JzAgMCAxNiAxNicgZmlsbD0nbm9uZScgc3Ryb2tlPScjMjEyNTI5JyBzdHJva2UtbGluZWNhcD0ncm91bmQnIHN0cm9rZS1saW5lam9pbj0ncm91bmQnPjxwYXRoIGQ9J00yIDVMOCAxMUwxNCA1Jy8+PC9zdmc+);
    background-repeat: no-repeat;
    background-size: 1.25rem;
    transition: none;
  }

  .potList.open::after {
    transform: rotate(-180deg);
  }

  h6.rptz7 {
    float: right;
    font-size: 0.7rem;
    font-family: 'DNFForgedBlade';
    padding-top: 0.7rem;
  }

  .smallIcon {
    background-repeat: no-repeat;
    border-radius: 28px;
    height: 28px;
    width: 28px;
    margin-right: 0.3rem;
  }

  .smallIcon.gh-m {
    background-position: -88px -78px;
  }

  .smallIcon.gh-f {
    background-position: -85px -90px
  }

  .smallIcon.gn-m {
    background-position: -85px -60px
  }

  .smallIcon.gn-f {
    background-position: -85px -78px
  } 

  .smallIcon.mg-m {
    background-position: -85px -96px
  }

  .smallIcon.mg-f {
    background-position: -82px -110px;
  }

  .smallIcon.pr-m {
    background-position: -85px -68px
  }

  .smallIcon.pr-f {
    background-position: -85px -85px
  }
  .smallIcon.fi-m {
    background-position: -84px -78px
  }
  .smallIcon.fi-f {
    background-position: -86px -90px
  }

  .smallIcon.th {
    background-position: -84px -79px
  }

  .smallIcon.kng {
    background-position: -82px -100px
  }

  .smallIcon.mc {
    background-position: -80px -77px
  }

  .smallIcon.gs {
    background-position: -85px -74px
  }

  .smallIcon.ac {
    background-position: -78px -100px
  }

  img.b-legnd {
    outline: 2px solid #ff7800ee;
    border-radius: 0.25rem;
  }
  img.b-epic {
    outline: 2px solid #FFB400ee;
    border-radius: 0.25rem;
  }
  img.b-begin {
    outline: 2px solid #28d931ee;
    border-radius: 0.25rem;
  }
  #setItem div.b-레전더리 {
    position: relative;
    border: 2px solid transparent;
    background-color: #ff7800ee;
    background-origin: border-box;
    border-radius: 0.25rem;
  }
  img.b-레전더리 {
    border: 2px solid #ff7800ee;
    border-radius: 0.25rem;
  }
  #setItem div.b-에픽 {
    position: relative;
    border: 2px solid transparent;
    background-color: #FFB400ee;
    background-origin: border-box;
    border-radius: 0.25rem;
  }
  img.b-에픽 {
    border: 2px solid #FFB400ee;
    border-radius: 0.25rem;
  }
  #setItem div.b-태초 {
    position: relative;
    border: 2px solid transparent;
    background-image: linear-gradient(rgb(40, 217, 49), rgb(51, 172, 234));
    background-origin: border-box;
    border-radius: 0.25rem;
  }
  img.b-태초 {
    border: 2px solid #28d931ee;
    border-radius: 0.25rem;
  }

  #filter_item {
    border-bottom: 1px solid #d2d2d2;
    display: flex;
    justify-content: flex-end;
  }
  #filter_item #ft_legnd.form-check-input:checked {
    background-color: #ff7800;
    border-color: #ff7800;
  }
  [data-bs-theme=dark] #filter_item #ft_legnd.form-check-input:checked {
    background-color: #B5651D !important;
    border-color: #B5651D;
  }
  #filter_item #ft_armory.form-check-input:checked {
    background-color: #5d5a5a;
    border-color: #5d5a5a;
  }
  [data-bs-theme=dark] #filter_item #ft_armory.form-check-input:checked {
    background-color: #838181 !important;
    border-color: #838181;
  }
  div.form-switch:first-child {
    margin-right: 0.5rem;
  }

  .form-check-input,.form-check-label { 
    cursor: pointer;
  }
  .famehigh {
    margin: 0.2rem 0;
    text-align: center;
    font-family: 'DNFBitBitv2', sans-serif;
  }
  #channels.detailCard > h5 {
    margin:0 !important;
  }
  #channels.detailCard > div > h4 {
    font-family: var(--bs-font-sans-serif);
    margin: 0 !important;
    font-size: 1.2rem;
  }
  #channels.detailCard > div > h5 {
    margin: 0 !important;
  }
  .detailCard.b-shadow{
    box-shadow: 0px 0.5px 4px 0px rgb(0 0 0 / 25%);
  }
  [data-bs-theme=dark] .list-group-item {
    background-color: #212529 !important;
  }