@font-face{
  font-family:'DNFForgedBlade'; font-style:normal; font-weight:300;font-display:swap;
  src:url('./fonts/DNFForgedBlade-Light.ttf')format('truetype')}
  
@font-face{
  font-family:'DNFForgedBlade';font-style:normal;font-weight:500;font-display:swap;
  src:url('./fonts/DNFForgedBlade-Medium.ttf')format('truetype')}
@font-face{
  font-family:'DNFForgedBlade';font-style:normal;font-weight:700;font-display:swap;
  src:url('./fonts/DNFForgedBlade-Bold.ttf')format('truetype')}
  
@font-face{
  font-family:'DNFBitBitv2';
  src:url('./fonts/DNFBitBitv2.ttf')format('truetype')}
  
@font-face{
  font-family:'NanumGothic'; font-style:normal; font-weight:300;font-display:swap;
  src:url('./fonts/NanumGothicLight.ttf')format('truetype')}  
@font-face{
  font-family:'NanumGothic';font-style:normal;font-weight:400;font-display:swap;
  src:url('./fonts/NanumGothic.ttf')format('truetype')}
@font-face{
  font-family:'NanumGothic';font-style:normal;font-weight:700;font-display:swap;
  src:url('./fonts/NanumGothicBold.ttf')format('truetype')}
@font-face{
  font-family:'NanumGothic';font-style:normal;font-weight:800;font-display:swap;
  src:url('./fonts/NanumGothicExtraBold.ttf')format('truetype')}

@media (min-width: 576px){
  .container {
    min-width: 500px;
  }
}
@media (min-width: 992px){
  .container {
    padding: 0;
  }
  .container > div {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
  }
}
/* grid thema
@media (min-width: 1300px){
  body {
    display: grid;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    justify-items: center;
    grid-template-columns: 250px minmax(800px,calc(100% - 500px)) 250px;
    grid-template-rows: minmax(calc(90vh - 1rem),auto) auto auto;
    grid-template-areas: "adAreaL container adAreaR" "neopleThk neopleThk neopleThk" "privacy privacy privacy";
  }
  .adAreaL {
    width: 100%;
    height: 100%;
    grid-area: adAreaL;
  }
  .adAreaR {
    width: 100%;
    height: 100%;
    grid-area: adAreaR;
  }
  .neopleThk{
    padding-top: 0.5rem;
  }
}
@media (min-width: 1840px){
  body {
    grid-template-columns: 400px calc(100% - 800px) 400px !important;
  }
} */

@media (prefers-color-scheme: dark) {
  .element {
    color: var(--bs-dk-input-tc);
    background-color: var(--bs-dk-bg);
  }
}
[data-bs-theme=dark] body {
  color: var(--bs-dk-text-emphasis);
  background-color: var(--bs-dk-bg);
}
[data-bs-theme=dark] select {
  color: var(--bs-dk-input-tc);
  background-color: var(--bs-dk-input-bg);
}
[data-bs-theme=dark] input {
  color: var(--bs-dk-input-tc) !important;
  background-color: var(--bs-dk-input-bg) !important;
}
[data-bs-theme=dark] .card-header {
  background-color: var(--bs-dk-l2) !important;
}
[data-bs-theme=dark] .card-body {
  background-color: var(--bs-dk-l1) !important;
}
[data-bs-theme=dark] .list-group-item {
  background-color: var(--bs-dk-l1) !important;
  color: var(--bs-dk-text-emphasis);
}
[data-bs-theme=dark] .accordion-button {
  background-color: var(--bs-dk-l2) !important;
  color: var(--bs-dk-text-emphasis) !important;
}
[data-bs-theme=dark] .accordion-body {
  background-color: var(--bs-dk-l1) !important;
  color: var(--bs-dk-text-emphasis) !important;
}
[data-bs-theme=dark] .characterView {
  background-color: var(--bs-dk-l1) !important;
}

[data-bs-theme=dark] .r-header {
  background-color: #51455e !important;
  color: var(--bs-dk-input-tc) !important;
}

[data-bs-theme=dark] .r-list{
  background-color: var(--bs-dk-l1) !important;
  color: var(--bs-dk-input-tc) !important;
}

[data-bs-theme=dark] .r-list > .r-element > div{
  color: var(--bs-dk-input-tc) !important;
}

[data-bs-theme=dark] .modal-content {
  background-color: var(--bs-dk-l2) !important;
  color: var(--bs-dk-text-emphasis) !important;
}
[data-bs-theme=dark] .btn-close {
  filter: invert(100%) hue-rotate(180deg);
  transition: 0.4s;
}

[data-bs-theme=dark] .accordion-button::after {
  filter: invert(100%) hue-rotate(180deg);
}

[data-bs-theme=dark] .infoArea .breadcrumb-item > a {
  color: var(--bs-dk-text-emphasis) !important;
}
[data-bs-theme=dark] .infoArea .breadcrumb-item > a:hover {
  color: #a772e7 !important;
}

[data-bs-theme=dark] .btn-primary {
  color: #000000;
  background-color: #BB86FC;
  border-color: #a772e7;
}
[data-bs-theme=dark] .btn-primary:hover {
  color: #000000;
  background-color: #a772e7;
  border-color: #a772e7;
}
[data-bs-theme=dark] .neopleThk {
  background-color: var(--bs-dk-l2);
}
[data-bs-theme=dark] .privacy > a {
  color: var(--bs-dk-text-emphasis);
}

:root {
  --bs-body-font-family: "Malgun Gothic", "맑은 고딕","NanumGothic",system-ui, -apple-system,"Noto Sans";
  --bs-font-sans-serif: "Malgun Gothic", "맑은 고딕","NanumGothic",system-ui, -apple-system,"Noto Sans";
  
  --bs-dk-bg:#121214;
  --bs-dk-l1:#1d1d1d;
  --bs-dk-l2:#2d2d2d;

  --bs-dk-input-bg:#1f1f1f;

  --bs-dk-text-emphasis:#e2e2e2;
  
  --bs-dk-input-tc:#e5e5e5;
}
body {
  width: 100%;
  user-select: none;
  overflow-x: hidden;
  height: 100%;
  min-height: 180px;
  overflow-y: auto;
}
body::-webkit-scrollbar {
  width: 10px;
}
body::-webkit-scrollbar-thumb {
    background-color: lightgrey;
    border-radius: 10px;
    background-clip: padding-box;
    border: 2px solid transparent;
}
.neopleThk {
  /* grid-area: neopleThk; */
  text-align: center;
  width: 100%;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 0.5rem;
  min-height: calc(37px + 0.5rem);
}
.neopleThk > div {
  width: 10%;
}
.neopleThk > div.footer-main {
  width: 80%;
  max-width: 65rem
}
.neopleThk a {
  font-family: 'DNFForgedBlade', sans-serif;
  font-weight: 500;
  color:#000000
}
.neopleThk > .footer-donate a {
  font-family: 'DNFBitBitv2', sans-serif;
  font-weight: 400;
  text-decoration: none !important;
  font-size: 0.6rem;
}
.neopleThk > .footer-donate a:hover {
  color:#62abfa !important
}
.privacy {
  /* grid-area: privacy; */
  text-align: center;
  margin-bottom: 0.5rem;
}
.privacy > a {
  color:black;
  cursor: pointer;
  text-decoration: none !important;
  font-size: 0.8rem;
}
.privacy > a:hover {
  color:#0b5ed7;
}
#loadingScreen {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #f3f4f7a6;
  border-radius: 12px;
  z-index: 2000;
  display: none;
}
#loadingScreen.active {
  display: block;
}
#loadingScreen.active > .center > img {
  margin-top: 10px;
}
.dfToast{
  width: max-content !important;
  height: auto !important;
  position: absolute;
  top: 1rem;
}
.dfToast > div {
  margin-right: 1.75rem;
}
.uselct {
  user-select: text;
}