/* @font-face{
font-family:'DNFForgedBlade';font-style:normal;font-weight:300;
src:url('//cdn.df.nexon.com/img/common/font/DNFForgedBlade-Light.otf')format('opentype')}

@font-face{
font-family:'DNFForgedBlade';font-style:normal;font-weight:500;
src:url('//cdn.df.nexon.com/img/common/font/DNFForgedBlade-Medium.otf')format('opentype')}

@font-face{
font-family:'DNFForgedBlade';font-style:normal;font-weight:700;
src:url('//cdn.df.nexon.com/img/common/font/DNFForgedBlade-Bold.otf')format('opentype')}

@font-face{
font-family:'DNFBitBitv2';
font-style:normal;font-weight:400;src:url('//cdn.df.nexon.com/img/common/font/DNFBitBitv2.otf')format('opentype')
} */
@font-face{
font-family:'DNFForgedBlade'; font-style:normal; font-weight:300;
src:url('./fonts/DNFForgedBlade-Light.ttf')format('truetype')}

@font-face{
font-family:'DNFForgedBlade';font-style:normal;font-weight:500;
src:url('./fonts/DNFForgedBlade-Medium.ttf')format('truetype')}
@font-face{
font-family:'DNFForgedBlade';font-style:normal;font-weight:700;
src:url('./fonts/DNFForgedBlade-Bold.ttf')format('truetype')}

@font-face{
font-family:'DNFBitBitv2';
src:url('./fonts/DNFBitBitv2.ttf')format('truetype')}


  
body {
  width: 100%;
  user-select: none;
  overflow-x: hidden;
  height: 100%;
  min-height: 180px;
  overflow-y: auto;
}
body::-webkit-scrollbar {
  width: 10px;
}
body::-webkit-scrollbar-thumb {
    background-color: lightgrey;
    border-radius: 10px;
    background-clip: padding-box;
    border: 2px solid transparent;
}
.container {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 80rem;
  min-height: calc(90vh - 1rem);
  /* max-height: calc(100vh - 37px - 0.5rem); */
  flex-direction: column;
  align-content: center;
  margin-left: auto;
  margin-right: auto;
}
.container > div {
  width: calc(500px - 1.5rem);
  height: 50px;
}
.container > div.title {
  font-weight:700;
  font-size: 2.5rem;
  margin-top: 5vh !important;
  font-family: 'DNFForgedBlade', sans-serif;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.container > .row {
  margin:0.5rem 0;
  justify-content: center;
}
.row > #serverId {
  width: 8rem !important;
  margin-right: 0.3rem;
}
.row > #characterName {
  width: 16rem !important;
  margin-right: 0.3rem;
}
.row > #btn_search {
  width: 4rem !important;
}
.row > .resultData {
  display: flex;
  justify-content: space-between;
}
.container > .row.result {
  height: auto !important;
}
#btn_epicList {
  margin:0.5rem 0 !important;
}
.resultData{
  display: none;
}
.row.resultData.show {
  display: flex;
  flex-direction: column;
}
#loading {
  display: none;
}
.offcanvas.show {
  width: 50vw !important;
  min-width: 465px;
}
.offcanvas-body::-webkit-scrollbar {
  width: 15px;
}
.offcanvas-body::-webkit-scrollbar-thumb {
    background-color: lightgrey;
    border-radius: 5px;
    background-clip: padding-box;
    border: 1px solid transparent;
}
.neopleThk {
  text-align: center;
  width: 100%;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 0.5rem;
  min-height: calc(37px + 0.5rem);
}
.neopleThk > div {
  width: 10%;
}
.neopleThk > div.footer-main {
  width: 80%;
}
.neopleThk a {
  font-family: 'DNFForgedBlade', sans-serif;
  font-weight: 500;
  color:#000000
}
.neopleThk > .footer-donate a {
  font-family: 'DNFBitBitv2', sans-serif;
  font-weight: 400;
  text-decoration: none !important;
  font-size: 0.6rem;
}
.neopleThk > .footer-donate a:hover {
  color:#62abfa !important
}
.aggregate {
  width: 100% !important;
  height: auto !important;
}
.aggregate .text-muted {
  float: right;
}
.aggregate > .card:nth-child(1) {
  width: 20rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
  height: min-content;
}
.aggregate > .card:nth-child(2) {
  width: 24rem;
}
.privacy {
  text-align: center;
}
.privacy > a {
  color:black;
  cursor: pointer;
  text-decoration: none !important;
  font-size: 0.8rem;
}
.card.characterView {
  min-width: 14rem;
  width:calc(20% - 0.4rem);
  margin: 0.2rem;
  cursor: pointer;
}
span.card-text {
  display: block;
}
span.card-text.small {
  font-size: 0.6rem;
}
#advenResult{
  width: 100% !important;
  height: auto !important;
  display: flex;
  flex-wrap: wrap;
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  justify-content: center;
}
#characterList {
  width: 100% !important;
  height: auto !important;
  display: flex;
  flex-wrap: wrap;
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
}