#isekaiMap {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .5rem;
  height: fit-content;
  margin-top: 1.2rem;
}

#isekaiMap>div {
  font-size: 1.5rem;
  line-height: 2.25rem;
  font-weight: 700;
}

#isekaiMap>img {
  width: 100%;
  max-width: 850px;
}

#ooparts {
  max-width: calc(850px + 1.5rem);
  height: max-content;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: .5rem;
}

#oopartsList {
  margin-top: 1rem;
  max-width: 550px;
  height: max-content;
}

#oopartsList>div {
  display: flex;
  gap: .5rem;
  justify-content: center;
  margin: .5rem 0;
}

#oopartDetail {
  width: 18.75rem;
  max-width: 300px;
  height: max-content;
  margin-top: 1.5rem;
  padding: 0.5rem;
  min-height: calc(168px + 1.5rem);
}

div.b-isk {
  width: fit-content;
  position: relative;
  border: 2px solid transparent;
  background-image: linear-gradient(#CF994D, #A67B38);
  background-origin: border-box;
  border-radius: 0.25rem;
  cursor: pointer;
}

div.b-isk::after {
  background-color: #000000;
  opacity: 0.5;
  content: "";
  width: 38px;
  height: 38px;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -25%);
}

div.b-isk.on::after {
  opacity: 0;
  content: "";
  width: 38px;
  height: 38px;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -25%);
}

div.b-isk.get::after {
  opacity: 1;
  content: "";
  width: 38px;
  height: 38px;
  position: absolute;
  top: 20%;
  background-color: transparent;
  background-image: url("./images/isekai/get.png");
  transform: translate(20%, 40%);
  background-repeat: no-repeat;  
}

.save-area {
  display: flex;
  gap: .5em;
  justify-content: flex-end;
  height: auto !important;
  max-width: 850px;
}
.title-header {
  font-size: 1.5rem;
  line-height: 2.25rem;
  font-weight: 700;
}
.txt-header {
  font-size: 1.1rem;
  font-weight: 700;
}

#oDescript {
  margin-top: 0.5rem;
  font-size: 0.8rem;
}

div.b-isk {
  width: fit-content;
  position: relative;
  border: 2px solid transparent;
  background-image: linear-gradient(#CF994D, #A67B38);
  background-origin: border-box;
  border-radius: 0.25rem;
}


.pageDscp {
  font-size: 1.875rem;
  line-height: 2.25rem;
  font-weight: 700;
}

.page-subDscp {
  --tw-text-opacity: 1;
  color: rgb(107 114 128 / 1);
  font-size: .875rem;
  line-height: 1.25rem;
  margin: 0;
}

@media (max-width: 775px) {
  #topGrid>div {
    width: 100% !important;
  }
}

.div-link {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  max-width: 850px;
  font-size: 0.65rem !important;
  line-height: normal !important;
}

.custom-link {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

.custom-link:hover {
  text-decoration: none;
}
#reqMeterial {
  display: flex;
  justify-content: center;
  gap: 1rem;
}
#reqMeterial>div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  max-width: 28px;
}

#oMeterial {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

#oMeterial>div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  max-width: 28px;
}
.init-area {
  justify-content: flex-start !important;
  margin-top: 1rem !important;
}