.tui-grid-layer-focus-border {
  display: none;
}
.tui-grid-cell-current-row {
  background-color: rgb(248 248 250) !important;
}
.tui-grid-cell-current-row > td{
  background-color: rgb(248 248 250) !important;
  font-weight: 600;
}
.tui-grid-body-area {
  background-color: inherit !important;
}
.g-chdiv {
  min-width: 2rem;
  position: relative;
  margin-left: 0.5rem;
}
.g-chimg {
  object-fit: cover;
  border-radius: 9999px;
  width: 2rem;
  height: 2rem;
  vertical-align: middle;
}
.g-chName {
  display: flex;
  align-items: center;
}
.g-hover-text:hover {
  text-decoration: underline;
  text-underline-offset: 0.25rem;
  cursor: pointer;
}
.tui-grid-cell.tui-grid-cell-summary {
  text-align: center;
}

/* 배경색을 어두운 색으로 */
/* [data-bs-theme=dark] .tui-grid-container {
  background-color: #2c2f38;
} */